Repository astral-sh/python-build-standalone, pull requests merged in 2025-10, with the labels that each got.

#807 Bump OpenSSL 3.5.3 -> 3.5.4
  pythonbuild/downloads.py
  src/verify_distribution.py
Labels: python:3.9, python:3.11, python:3.14

#811 Use relative paths in build-details.json
  cpython-unix/build-cpython.sh
  cpython-unix/patch-python-relative-build-details.patch
Labels: python:3.14

#813 Bump CPython 3.13 to 3.13.8
  pythonbuild/downloads.py
Labels: python:3.13
