Repository astral-sh/python-build-standalone, pull requests merged in 2025-06, with the labels that each got.

#635 Use `gh release` instead of someone's release action
  .github/workflows/release.yml
  Justfile
Labels: ci:skip

#647 Update to 3.14.0b2
  cpython-unix/build-cpython.sh
  cpython-unix/patch-jit-cflags-314.patch
  cpython-unix/patch-static-remote-debug-3.14.patch
  pythonbuild/downloads.py
Labels: python:3.14

#657 Upgrade CPython 3.13 to 3.13.5
  pythonbuild/downloads.py
Labels: python:3.13

#664 Use Depot runners for Windows builds
  ci-runners.yaml
Labels: platform:windows

#387 Add ARM64 Windows builds for Python 3.11+
  .github/workflows/windows.yml
  ci-runners.yaml
  ci-targets.yaml
  cpython-windows/build.py
  src/validation.rs
Labels: platform:windows, arch:aarch64

#671 Gate `x86_64-w64-mingw32-nmakehlp.exe` removal to builds where it is present
  cpython-windows/build.py
Labels: platform:windows

#673 Generate the matrix for building the `pythonbuild` crate
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  ci-matrix.py
Labels: ci:dry-run

#674 Update the crate build runner logic
  ci-matrix.py
Labels: python:3.13
