Repository astral-sh/python-build-standalone, pull requests merged in 2025-02, with the labels that each got.

#513 Upgrade CPython 3.12.8 to 3.12.9, 3.13.1 to 3.13.2
  cpython-unix/build-cpython.sh
  cpython-unix/patch-configure-bolt-apply-flags-128514.patch
  cpython-unix/patch-configure-bolt-apply-flags.patch
  cpython-unix/patch-configure-bolt-flags.patch
  cpython-unix/patch-test-embed-prevent-segfault.patch
  pythonbuild/downloads.py
Labels: python:3.12, python:3.13

#514 fix: remove release attestations
  .github/workflows/release.yml
Labels: ci:skip

#518 Update `PYTHON.json` current value for `version` field in documentation
  docs/distributions.rst
Labels: ci:skip

#520 Use an array for cross-platform sed args to avoid unexpected shell expansion
  cpython-unix/build-cpython.sh
Labels: python:3.14

#525 Fix Windows build job names in CI
  .github/workflows/windows.yml
Labels: ci:dry-run

#521 Bump to CPython 3.14.0a5
  cpython-unix/build-cpython.sh
  cpython-unix/patch-test-embed-prevent-segfault-3.14.patch
  pythonbuild/downloads.py
Labels: python:3.14

#538 Set `enable-experimental-jit=yes-off` on Python 3.13 / Linux
  cpython-unix/build-cpython.sh
  cpython-unix/patch-jit-llvm-19.patch
Labels: platform:darwin, platform:linux, python:3.13, build:pgo, python:3.14

#543 Allow the JIT to be used on Python 3.14
  cpython-unix/build-cpython.sh
  cpython-unix/patch-jit-tail-call-compat-314-129820.patch
Labels: platform:linux, build:pgo, ci:skip, python:3.14
